<div class="container">
    <h1 class="text-center">Sign Up</h1>
    <form name="form" novalidate ng-submit="controller.SignUp()">
        <div class="form-group">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="controller.userInfo.firstName" required>
            <span ng-if="form.firstName.$invalid && form.firstName.$touched" class="text-danger bg-warning">First Name is required.</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="controller.userInfo.lastName" required>
            <span ng-if="form.lastName.$invalid && form.lastName.$touched" class="text-danger bg-warning">Last Name is required.</span>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="controller.userInfo.email" required>
            <span ng-if="form.email.$invalid && form.email.$touched" class="text-danger bg-warning">Email Address is required.</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" ng-model="controller.userInfo.phoneNumber" required>
            <span ng-if="form.phoneNumber.$invalid && form.phoneNumber.$touched" class="text-danger bg-warning">Phone Number is required.</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="favoriteDish" placeholder="Favorite Dish"
                ng-model="controller.userInfo.favoriteDish"
                ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0}}"
                required
                validate-menu-item>
            <span ng-show="form.favoriteDish.$touched && form.favoriteDish.$invalid" class="text-danger bg-warning">
                <span ng-if="form.favoriteDish.$error.required">Favorite Dish is required.</span>
                <span ng-if="form.favoriteDish.$error.invalidMenuItem">No such menu number exists.</span>
            </span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
        </div>
    </form>

    <span class="text-success bg-success" ng-if="controller.isSignedUp()">
        Your information has been saved.
    </span>
</div>
