.activeItem {
    font-weight: bold;
    background-color: #D0D0F0;
}

.loaderOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #E0FFFF;
    opacity: .66;
    display: block;
    z-index: 1000;
}


.loadingSpinner-loader {
	position: relative;
	left: calc(50% - 92px);
    top: calc(50% - 92px);
	width: 184px;
	height: 184px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 2300px;
}

.loadingSpinner-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
}

.loadingSpinner-inner.loadingSpinner-one {
	left: 0%;
	top: 0%;
	animation: loadingSpinner-rotate-one 0.85s linear infinite;
		-o-animation: loadingSpinner-rotate-one 0.85s linear infinite;
		-ms-animation: loadingSpinner-rotate-one 0.85s linear infinite;
		-webkit-animation: loadingSpinner-rotate-one 0.85s linear infinite;
		-moz-animation: loadingSpinner-rotate-one 0.85s linear infinite;
	border-bottom: 9px solid rgb(255,0,0);
}

.loadingSpinner-inner.loadingSpinner-two {
	right: 0%;
	top: 0%;
	animation: loadingSpinner-rotate-two 0.85s linear infinite;
		-o-animation: loadingSpinner-rotate-two 0.85s linear infinite;
		-ms-animation: loadingSpinner-rotate-two 0.85s linear infinite;
		-webkit-animation: loadingSpinner-rotate-two 0.85s linear infinite;
		-moz-animation: loadingSpinner-rotate-two 0.85s linear infinite;
	border-right: 9px solid rgb(0,255,0);
}

.loadingSpinner-inner.loadingSpinner-three {
	right: 0%;
	bottom: 0%;
	animation: loadingSpinner-rotate-three 0.85s linear infinite;
		-o-animation: loadingSpinner-rotate-three 0.85s linear infinite;
		-ms-animation: loadingSpinner-rotate-three 0.85s linear infinite;
		-webkit-animation: loadingSpinner-rotate-three 0.85s linear infinite;
		-moz-animation: loadingSpinner-rotate-three 0.85s linear infinite;
	border-top: 9px solid rgb(0,0,255);
}







@keyframes loadingSpinner-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes loadingSpinner-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes loadingSpinner-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes loadingSpinner-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes loadingSpinner-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes loadingSpinner-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes loadingSpinner-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes loadingSpinner-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes loadingSpinner-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes loadingSpinner-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes loadingSpinner-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes loadingSpinner-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes loadingSpinner-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes loadingSpinner-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes loadingSpinner-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
